[submodule "frontend/syslab-root"]
	path = frontend/syslab-root
	url = https://github.com/erickWillyan-Baymetrics/syslab-root.git
[submodule "frontend/syslab-home"]
	path = frontend/syslab-home
	url = https://github.com/erickWillyan-Baymetrics/syslab-home.git
